@import url("reset (1).css");
body,
html {
  width: 100%;
  height: 100%;
  background: none;
}
html {
  font-size: 62.5%;
}
.wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 3.8rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid #dddddd;
}
.wrap header span {
  width: 2rem;
  height: auto;
  background: none;
}
.wrap header span:nth-child(1) {
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  background: none;
  border: 1px solid #000;
  transform: rotate(45deg);
  border-top: none;
  border-right: none;
  position: relative;
  left: 10px;
  top: 14px;
}
.wrap header .span {
  display: inline-block;
  text-align: center;
  padding-right: 0.5rem;
  box-sizing: border-box;
}
.wrap header .span img {
  width: 1.8rem;
  height: auto;
  background: none;
  vertical-align: middle;
  padding-top: 1rem;
}
.wrap header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.8rem;
  color: #3b3b3b;
}
.wrap section {
  width: 100%;
  height: 20rem;
  background: #ffffff;
}
.wrap section .section1 {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #fafafa;
}
.wrap section .section1 span:nth-child(1) {
  float: left;
  font-size: 1.4rem ;
  color: #4f4f4f ;
}
.wrap section .section1 span:nth-child(2) {
  float: right;
  font-size: 1.4rem ;
  color: #a3a3a3;
}
.wrap section .section2 {
  padding: 0.3rem 1rem;
}
.wrap section .section2 span:nth-child(1) {
  float: left;
  font-size: 1.2rem ;
  color: #a3a3a3 ;
}
.wrap section .section2 span:nth-child(2) {
  float: right;
  font-size: 1.2rem ;
  color: #a3a3a3;
}
